html {
  height: 100%;

  body {

    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px auto;

    #tools {

      grid-column-start: 1;
      grid-column-end: 1;

      .ui-tool {
        display: flex;
        flex-direction: column;

        .ui-tool-header {
          display: flex;
          flex-direction: row;
          align-items: center;
          width: 100%;
          background: #7eb1c5;
          border-bottom: 1px solid #6774cc;

          .ui-tool-menu {
            display: flex;
            flex-direction: row;
            flex-grow: 2;
            margin: 5px;


            & > img {

              transition: background-color 200ms;
              border-radius: 3px;

              &:hover {
                background-color: #c2ceff;
              }
            }
          }

          .ui-tool-reduce {
            justify-self: right;
            margin: 5px;
          }
        }

        .ui-tool-content {

          display: flex;
          flex-direction: column;
          margin: 0;
          max-height: 200px;
          overflow: auto;
          padding: 0;
          background: white;
          transition: max-height 200ms;

          span {

            background: white;
            line-height: 32px;
            padding: 0 10px;
            color: black;
            opacity: 0.8;
            border-bottom: 1px solid #cccccc;
            transition: opacity 200ms, background 200ms;

            &:hover {
              opacity: 1;
              background: #cccccc;
              cursor: pointer;
            }

            &.active {
              opacity: 1;
              background: #8ec5b2;
            }
          }

          &.palette {
            flex-direction: row;
            flex-wrap: wrap;
          }
        }

        &.folded {
          .ui-tool-reduce {
            transform: rotate(180deg);
          }

          .ui-tool-content {
            max-height: 0;
          }
        }
      }
    }

    #editor {
      position: relative;

      canvas {
        width: 100%;
        height: 100%;
      }

      #mouse-position {
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 2px;
      }
    }
  }
}
